@model JakAttack.Models.BlogPost

@{
    ViewBag.Title = "Blog - Create Post";
    ViewBag.SectionTitle = "blog";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>@Html.LabelFor(model => model.Title) @Html.EditorFor(model => model.Title)</div>
    <div>@Html.LabelFor(model => model.Content) @Html.EditorFor(model => model.Content)</div>
    <input type="submit" value="Save" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


