@model JakAttack.Models.BlogPost

@{
    ViewBag.Title = "Blog - Edit Post";
    ViewBag.SectionTitle = "blog";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.BlogPostId)
    @Html.HiddenFor(model => model.DatePosted)
    @Html.HiddenFor(model => model.DateLastModified)
    <div>@Html.LabelFor(model => model.Title) @Html.EditorFor(model => model.Title)</div>
    <div>@Html.LabelFor(model => model.Content) @Html.EditorFor(model => model.Content)</div>
    <input type="submit" value="Save" />
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
