@model IEnumerable<JakAttack.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Author
        </th>
        <th>
            Content
        </th>
        <th>
            DatePosted
        </th>
        <th>
            DateLastModified
        </th>
        <th>
            Comments
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BlogPostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BlogPostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BlogPostId })
        </td>
        <td>
			@item.Author
        </td>
        <td>
			@item.Content
        </td>
        <td>
			@item.DatePosted
        </td>
        <td>
			@item.DateLastModified
        </td>
        <td>
			@(item.Comments == null ? "None" : item.Comments.Count.ToString())
        </td>
    </tr>
}

</table>


