@model IEnumerable<JakAttack.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
    ViewBag.SectionTitle = "blog";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    <article class="blogPost">
        <header>
            <div class="timestamps">
                <div>Posted: <time pubdate datetime="@item.DatePosted.ToString("u")">@item.DatePosted.ToString("u")</time></div>
                @if (item.DatePosted.CompareTo(item.DateLastModified) != 0)
                {
                <div>Modified: <time pubdate datetime="@item.DateLastModified.ToString("u")">@item.DateLastModified.ToString("u")</time></div>
                }
            </div>
            <h1>@Html.ActionLink(item.Title, "Details", new { id = item.BlogPostId })</h1>
            <div class="author">By: @item.Author.FullName</div>
        </header>
        <div class="post">
            @item.Content
        </div>
    </article>
}


