<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <title>JakAttack.Net @if (ViewBag.Title != null) { <text>- @ViewBag.Title </text> }</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="background">
            <img alt="background" src="@Url.Content("~/images/bg/P1000210.jpg")" />
            <img alt="background" src="@Url.Content("~/images/bg/DSC03065.jpg")" />
            <img alt="background" src="@Url.Content("~/images/bg/P1000239.jpg")" />
        </div>
        @RenderBody()
        @if (!User.Identity.IsAuthenticated)
        {
        @Html.ActionLink("Log In", "LogIn", "User", new { ReturnUrl = HttpContext.Current.Request.Url.ToString() }, new { id = "login" })
        }
        else
        {
        @Html.ActionLink("Log Out", "LogOut", "User", null, new { id = "login", title = String.Format("Logged in as {0}", User.Identity.Name) })
        }
        <nav>
          <ul id="menu">
            <li style="font-weight: bold; padding: 0px 50px;">@Html.ActionLink("jakattack", "Index", "Home")</li>
            <li>@Html.ActionLink("blog", "Index", "BlogPosts")</li>
            <li>@Html.ActionLink("projects", "Index")</li>
            <li>@Html.ActionLink("pat", "Index")</li>
            <li>@Html.ActionLink("shannon", "Index")</li>
          </ul>
        </nav>
        <script type="text/javascript" src="@Url.Content("~/scripts/jquery-1.7.1.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/scripts/jquery.cycle.lite.js")"></script>
        <script type="text/javascript">
            $("#background").cycle({
                fx: 'fade',
                speed: 4000,
                nowrap: 0
            });
        </script>
    </body>
</html>
